.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  z-index: 10;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.modal .closeModalButtonDiv {
  position: absolute;
  top: 2rem;
  right: 2.3rem;
  width: 2.3rem;
  height: 2.3rem;
  z-index: 3;
  border: 0.1rem solid var(--primary);
  border-radius: 50%;
  padding: 0.5rem;
}

.modal .closeModalButtonDiv .closeModalButton {
  width: 100%;
}
