.portfolio {
  padding-bottom: calc(5vh + 4rem);
}

.portfolio,
.portfolio * {
  background-color: var(--customBlack);
}

.portfolio .slider {
  height: 40rem;
  padding-bottom: 4rem;
}

.portfolio .slider nav button[class*='--active'] {
  background-color: var(--secondary);
}

.portfolio .portfolioCardDiv {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

.portfolio .portfolioCardDiv .portfolioCard {
  background-color: transparent;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  padding: var(--custom-padding);
  border-radius: var(--custom-border-radius);
  text-align: center;
  box-shadow: var(--custom-box-shadow);
}

.portfolio .portfolioCardDiv a:active,
.portfolio .portfolioCardDiv a:active * {
  background: var(--primary);
  color: var(--customBlack);
}

.portfolio .portfolioCardDiv .portfolioCardDescription {
  width: 100%;
  margin: 9rem 0;
  background-color: transparent;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.portfolio .portfolioCardDiv .portfolioCardSkeletonDiv {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.portfolio .portfolioCardDiv .portfolioCardSkeletonDiv div {
  background-color: var(--text);
  border-radius: var(--custom-border-radius);
  margin-top: 1rem;
}

.portfolio .portfolioCardDiv .portfolioCard .portfolioCardTitleSkeleton1,
.portfolio .portfolioCardDiv .portfolioCard .portfolioCardTitleSkeleton2 {
  width: 80%;
  height: 1.6rem;
}

.portfolio .portfolioCardDiv .portfolioCard .portfolioCardTitleSkeleton2 {
  width: 65%;
}

.portfolio .portfolioCardDiv .portfolioCardDescriptionSkeleton1,
.portfolio .portfolioCardDiv .portfolioCardDescriptionSkeleton2 {
  width: 87%;
  height: 1.2rem;
}

.portfolio .portfolioCardDiv .portfolioCardDescriptionSkeleton2 {
  width: 80%;
}

.comingSoonLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 36%;
  padding: var(--custom-padding);
  width: 200vw;
  background: linear-gradient(var(--blur), var(--blur));
  transform: rotate(22deg);
  opacity: 0.7;
}

.comingSoonLabel h3 {
  background: transparent;
  color: var(--primary);
  font-size: 3.3rem;
}

@media (min-width: 768px) {
  .portfolio,
  .portfolio * {
    background-color: transparent;
  }

  .portfolio {
    background-color: var(--customBlack);
  }

  .portfolioCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
  }

  .portfolio .portfolioCardDiv {
    width: 25rem;
    height: 40rem;
    border-radius: var(--custom-border-radius);
    box-shadow: var(--custom-box-shadow);
    overflow: hidden;
  }

  .portfolio .portfolioCardDiv .portfolioCard {
    min-height: auto;
    margin-top: 7%;
    box-shadow: 0 0.3rem 0.3rem -0.3rem var(--primary);
    border-radius: 0;
  }

  .portfolio .portfolioCardDiv:hover {
    background-color: var(--blurredPrimary);
  }

  .fullScreenShadow {
    margin-top: -3rem;
    border-radius: var(--custom-border-radius);
  }

  .comingSoonLabel {
    /* width: 100%; */
  }
}
