.portfolio, .portfolio * {
  background-color: var(--customBlack);
}

.portfolio .slider {
  margin-top: 90px;
  height: calc(80vh - 132px);
}

.portfolio .slider nav button[class*="--active"] {
  background-color: var(--primary);
}

.portfolio .slider .portfolioCardDiv {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio .slider .portfolioCardDiv .portfolioCard {
  background-color: transparent;
  margin-top: 36px;
  height: 35%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4vw;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0.3px 3px 10px var(--primary); 
}

.portfolio .slider .portfolioCardDiv a:active, .portfolio .slider .portfolioCardDiv a:active * {
  background: var(--primary);
  color: var(--customBlack);
}

.portfolio .slider .portfolioCardDiv .portfolioCardDescription {
  background-color: transparent;
  width: 85%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.portfolio .slider .portfolioCardDiv .portfolioCardSkeletonDiv {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.portfolio .slider .portfolioCardDiv .portfolioCardSkeletonDiv * {
  background-color: var(--text);
  border-radius: 20px;
  margin-top: 10px;
}

.portfolio .slider .portfolioCardDiv .portfolioCard .portfolioCardTitleSkeleton1,
.portfolio .slider .portfolioCardDiv .portfolioCard .portfolioCardTitleSkeleton2 {
  width: 80%;
  height: 11%;
}

.portfolio .slider .portfolioCardDiv .portfolioCard .portfolioCardTitleSkeleton2 {
  width: 65%;
}

.portfolio .slider .portfolioCardDiv .portfolioCardDescriptionSkeleton1,
.portfolio .slider .portfolioCardDiv .portfolioCardDescriptionSkeleton2 {
  width: 87%;
  height: 4%;
}

.portfolio .slider .portfolioCardDiv .portfolioCardDescriptionSkeleton2 {
  width: 80%;
}

.comingSoonLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 26%;
  min-height: 15%;
  width: 200vw;
  background: linear-gradient(var(--blur), var(--blur));
  transform: rotate(22deg);
  opacity: 0.7;
}

.comingSoonLabel h3 {
  background: transparent;
  color: var(--primary);
  font-size: 36px;
}
