.home {
  background-size: cover;
}

.home nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.home nav .navBarButton {
  height: 5vh;
  width: 5vh;
  margin-top: 3vh;
  margin-right: 4vw;
}

.home .homeTitleDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.home .homeTitleDiv h1::first-letter {
  color: var(--primary);
}

.home .homeIntroductionDiv {
  width: 93%;
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
}

.home .aboutMeButton {
  height: 6.4vh;
  width: 38vw;
  border-radius: 30px;
  border: 0;
  background-color: var(--primary);
  margin-top: 8.6vh;
}

.home .aboutMeButton p {
  font-size: 4vw;
  color: var(--black);
}
