.homeWithNavbar {
  position: relative;
}

.fullHome {
  display: flex;
  min-height: 95vh;
}

.homeWithNavbar nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  padding: 0 7vw;
}

.homeWithNavbar nav .navBarButton {
  z-index: 3;
  margin-top: 3rem;
}
.homeWithNavbar nav .navBarButton > span {
  display: block;
  width: 3rem;
  height: 0.3rem;
  border-radius: var(--custom-border-radius);
  background-color: var(--primary);
  margin-bottom: 0.7rem;
}

.homeWithNavbar nav .navBarButton,
.homeWithNavbar nav .navBarButton > span {
  transition: all 0.4s ease-in-out;
}

.homeWithNavbar nav .navBarButton.active {
  transition-delay: 0.8s;
  transform: rotate(45deg);
}

.homeWithNavbar nav .navBarButton.active > span:nth-child(2) {
  width: 0;
}

.homeWithNavbar nav .navBarButton.active > span:nth-child(1),
.homeWithNavbar nav .navBarButton.active > span:nth-child(3) {
  transition-delay: 0.4s;
  width: 2rem;
}

.homeWithNavbar nav .navBarButton.active > span:nth-child(1) {
  transform: translateY(1rem);
}

.homeWithNavbar nav .navBarButton.active > span:nth-child(3) {
  transform: translateY(-1rem) rotate(90deg);
}

.homeWithNavbar nav .navBarOptions {
  height: 20rem;
  width: 100%;
  position: absolute;
  top: -21rem;
  left: 0;
  background-color: var(--background);
  border-bottom: 0.1rem solid var(--primary);
  display: flex;
  flex-direction: column;
  border-radius: var(--custom-border-radius);
  padding: 5rem 7vw 0;
  transition: all 1s ease-in-out;
}

.homeWithNavbar nav .navBarOptions.active {
  transform: translateY(100%);
}

.homeWithNavbar nav .navBarOptions li {
  flex: 1;
  width: 100%;
  list-style-type: none;
}

.homeWithNavbar nav .navBarOptions li a,
#languageSelector {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: var(--text);
  border: 0;
  font-family: var(--primary-font), sans-serif;
}

#languageSelector:focus-visible {
  outline: none;
}

.home .homeTitleDiv {
  display: flex;
  flex-direction: column;
  margin-top: 24%;
}

.home .homeTitleDiv h1::first-letter {
  color: var(--primary);
}

.home .homeIntroductionDiv {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.home .aboutMeButton {
  margin-top: 13%;
  padding: var(--button-padding);
  border-radius: var(--custom-border-radius);
  border: 0;
  background-color: var(--primary);
}

.home .aboutMeButton p {
  color: var(--customBlack);
}

.aboutMeModal h2 {
  font-size: 2.3rem;
  margin-bottom: 5vh;
}

.aboutMeModal h2::after {
  width: 5rem;
}

.aboutMeModal p {
  margin-top: 5rem;
}

.meImgContainer {
  display: none;
}

.scrollIndicatorIcon {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -3rem;
  width: 6rem;
}

@media (min-width: 768px) {
  .home {
    flex: 0.5;
  }

  .homeWithNavbar nav .navBarOptions {
    padding: var(--custom-padding);
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 4rem;
    border: 0;
    transition: none;
  }

  .homeWithNavbar nav .navBarOptions,
  .homeWithNavbar nav .navBarOptions li,
  #languageSelector {
    background: transparent;
  }

  .homeWithNavbar nav .navBarOptions li {
    flex: 0;
  }

  .homeWithNavbar nav .navBarOptions li a,
  #languageSelector {
    position: relative;
    width: auto;
    font-size: 1.8rem;
  }

  .homeWithNavbar nav .navBarOptions li a::after,
  #languageSelector::after {
    content: '';
    height: 0.25rem;
    background: linear-gradient(to right, var(--secondary), var(--primary));
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -0.7rem;
    transition: all 0.4s ease-in-out;
    width: 0;
  }

  .homeWithNavbar nav .navBarOptions li a:hover::after,
  #languageSelector:hover::after {
    width: 100%;
  }

  .meImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    background: linear-gradient(to bottom, transparent, var(--primary));
  }

  .meImgContainer figure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10%;
    width: 40%;
  }

  .meImgContainer figure img {
    border-radius: 50%;
    width: 100%;
  }

  .meImgContainer .meImgBorderShadow {
    border-radius: 50%;
    box-shadow: 0px 0px 5rem var(--primary) inset;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
