.home {
  background-size: cover;
}

.home nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.home nav .navBarButton {
  display: absolute;
  margin-top: 3rem;
  height: 4rem;
  width: 4rem;
}

.home nav .collapsableNavBarOptions {
  height: 18rem;
  min-width: 100%;
  position: absolute;
  top: 2rem;
  background-color: var(--customBlack);
  border: 0.1rem solid var(--primary);
  display: flex;
  flex-direction: column;
  border-radius: var(--custom-border-radius);
  padding: var(--custom-padding);
}

.home nav .collapsableNavBarOptions li {
  flex: 1;
  width: 100%;
  list-style-type: none;
}

.home nav .collapsableNavBarOptions li a, #languageSelector {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: var(--text);
  border: 0;
  font-family: var(--primary-font), sans-serif;
}

#languageSelector:focus-visible {
  outline: none;
}

.home .homeTitleDiv {
  min-height: 17vh;
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}

.home .homeTitleDiv h1::first-letter {
  color: var(--primary);
}

.home .homeIntroductionDiv {
  display: flex;
  flex-direction: column;
  margin: 7.5rem 0;
}

.home .aboutMeButton {
  padding: var(--button-padding);
  border-radius: var(--custom-border-radius);
  border: 0;
  background-color: var(--primary);
}

.home .aboutMeButton p {
  color: var(--customBlack);
}

.home .aboutMeModalDiv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home .aboutMeModal {
  margin-top: 3rem;
  height: 85%;
  width: 90%;
  background-color: var(--customBlack);
  box-shadow: var(--custom-box-shadow);
  border-radius: var(--custom-border-radius);
  position: relative;
  padding: var(--custom-padding);
  padding-top: 0;
  overflow-y: scroll;
  z-index: 10;
}

.home .aboutMeModal .closeModalButtonDiv {
  position: absolute;
  top: 2rem;
  right: 2.3rem;
  width: 2.3rem;
  height: 2.3rem;
  z-index: 3;
  border: 0.1rem solid var(--primary);
  border-radius: 50%;
  padding: 0.5rem;
}

.home .aboutMeModal .closeModalButtonDiv .closeModalButton {
  width: 100%;

}

.home .aboutMeModal h2 {
  font-size: 2.3rem;
}

.home .aboutMeModal h2::after {
  width: 5rem;
}

.home .aboutMeModal p {
  margin-top: 5rem;
}
