.contact {
  background-color: var(--customBlack);
}

.contact > p {
  margin: 7rem 0.5rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form input, .contact form .messageInputDiv {
  background-color: var(--customBlack);
  border: 0.1rem solid var(--primary);
  width: 90%;
  border-radius: 3rem;
  padding: 1.3rem 1.3rem;
}

.contact form input, .contact form .messageInputDiv textarea {
  background-color: var(--customBlack);
  font-size: 1.6rem;
  color: var(--text);
}

.contact form .emailInput {
  height: 5rem;
}

.contact form .messageInputDiv {
  height: 25rem;
  margin-top: 4rem;
}

.contact form .messageInputDiv textarea {
  height: 100%;
  width: 100%;
  border: 0;
}

.contact form .emailInput:focus,
.contact form .messageInputDiv textarea:focus {
  outline: none !important;
}

.contact form .emailInput:focus,
.contact form .messageInputDivFocused {
  border-color: var(--secondary);
}

.contact form .contactMeButton {
  background-color: var(--primary);
  width: 90%;
  height: 5rem;
  border-radius: 3rem;
  margin-top: 4rem;
}

.contact form .contactMeButton p {
  color: var(--customBlack);
}
