html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main section {
  padding: 0 7vw 5vh 7vw;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.8rem;
  color: var(--secondary);
}

h5 {
  font-size: 1.7rem;
  color: var(--customBlack);
}

h1,
h2,
h3,
h6,
label,
p {
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  font-family: var(--primary-font), sans-serif;
}

p, label {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
}

select,
option {
  background: var(--customBlack);
}

section h2 {
  padding-top: 6vh;
  margin-bottom: 8vh;
  font-size: 3rem;
  color: var(--text);
  position: relative;
}

section h2::after {
  content: '';
  height: 0.27rem;
  width: 10rem;
  background: linear-gradient(to right, var(--secondary), var(--background));
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -0.9rem;
}

.fullScreenShadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  opacity: 0.7;
}

/* Change font sizes on smaller devices */
@media (max-height: 600px) {
  h1 {
    font-size: 4rem;
  }
  section h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.55rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  p, label {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .contact form input,
  .contact form .messageInputDiv textarea {
    font-size: 1.3rem;
  }
  .homeWithNavbar nav .navBarOptions li a,
  #languageSelector {
    font-size: 1.7rem;
  }
  .home .aboutMeModal h2 {
    font-size: 1.9rem;
  }
  .scrollIndicatorIcon {
    margin-left: -2rem;
    width: 4rem;
  }
  .comingSoonLabel h3 {
    font-size: 2.8rem;
  }
}
