@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  background-color: var(--background);
}

main section {
  padding: 0 7vw 5vh 7vw;
  background-color: transparent;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 1.8rem;
  color: var(--secondary);
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.7rem;
  color: var(--customBlack);
}

h1,
h3,
h4,
label,
p {
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  font-family: var(--primary-font), sans-serif;
}

p,
label {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

select,
option {
  background: var(--customBlack);
}

h3 {
  padding-top: 6vh;
  margin-bottom: 8vh;
  font-size: 3rem;
  color: var(--text);
  position: relative;
}

h3::after,
.coursesModal h4::after {
  content: '';
  height: 0.27rem;
  width: 10rem;
  background: linear-gradient(to right, var(--secondary), var(--background));
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -0.9rem;
}

.clickableText {
  color: var(--primary);
  text-decoration: underline;
}

.clickableText:hover {
  cursor: pointer;
  opacity: 0.5;
}

.shadow {
  height: 100%;
  width: 100%;
  background-color: var(--background) !important;
  opacity: 0.5;
}

main .backgroundImageDiv {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

main .backgroundImage {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

main .backgroundImageGradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--background), transparent, var(--background));
  position: absolute;
  top: 0;
  z-index: 2;
}

.comet1, .comet2 {
  position: absolute;
  width: 15rem;
}
.comet1 {
  top: 14%;
  left: -15rem;
  animation: comet-move-1 20s 10s forwards infinite;
}
.comet2 {
  bottom: -5rem;
  left: 10%;
  animation: comet-move-2 35s 0s forwards infinite;
}

@keyframes comet-move-1 {
  to {
    transform: translate(50rem, -10rem);
    filter: hue-rotate(360deg);
  }
}

@keyframes comet-move-2 {
  to {
    transform: translate(140rem, -30rem);
    filter: hue-rotate(360deg);
  }
}

.bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-4rem);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  70% {
    transform: scale(0.95, 1.05) translateY(-3rem);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.shimmer {
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    transparent 40%,
    var(--primary) 50%,
    var(--primary) 60%,
    transparent 65%,
    transparent 100%
  );
  background-size: 400%;
  animation: shimmer 4s infinite;
}

@keyframes shimmer {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0 0;
  }
}

@media (min-width: 768) {
  main .backgroundImage {
    width: 100%;
  }
}
