.experience {
  background-color: var(--customBlack);
}

.experience .experienceCardsDiv {
  margin-top: 126px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.experience .experienceCard {
  width: 305px;
  height: 180px;
  border: 1px solid var(--customBlack);
  position: relative;
  box-shadow: 0.3px 2px 6px 1px var(--primary);
  margin-bottom: 100px;
}

.experience .experienceCard::before {
  content: '';
  position: absolute;
  height: 45px;
  width: 85px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  left: 25%;
  transform: translate(-50%, -98%);
  box-shadow: 0.3px 2px 6px 1px var(--primary);
}

.experience .experienceCard, .experienceCard::after {
  border-radius: 30px;
}

.experience .experienceCard, .experienceCard::after, .experienceCard::before {
  background-color: var(--customBlack);
}

.experience .experienceCard::after {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  content:'';
}

.experience .experienceCard * {
  z-index: 2;
}

.experience .experienceCard img {
  position: absolute;
  left: 25%;
  width: 61px;
  transform: translate(-50%, -55%);
}

.experience .experienceCard .descriptionDiv {
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
