.experience {
  background-color: var(--customBlack);
}

.experience .experienceCardsDiv {
  margin-top: 2.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.experience .experienceCard {
  width: 30.5rem;
  height: 18rem;
  border: 0.1rem solid var(--customBlack);
  position: relative;
  box-shadow: 0.03rem 0.2rem 0.6rem 0.1rem var(--primary);
  margin-top: 10rem;
}

.experience .experienceCard::before {
  content: '';
  position: absolute;
  height: 4.5rem;
  width: 8.5rem;
  border-top-left-radius: 4.5rem;
  border-top-right-radius: 4.5rem;
  left: 25%;
  transform: translate(-50%, -98%);
  box-shadow: 0.03rem 0.2rem 0.6rem 0.1rem var(--primary);
}

.experience .experienceCard, .experienceCard::after {
  border-radius: 3rem;
}

.experience .experienceCard, .experienceCard::after, .experienceCard::before {
  background-color: var(--customBlack);
}

.experience .experienceCard::after {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  content:'';
}

.experience .experienceCard * {
  z-index: 2;
}

.experience .experienceCard img {
  position: absolute;
  left: 25%;
  width: 6.1rem;
  transform: translate(-50%, -55%);
}

.experience .experienceCard .descriptionDiv {
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
