.experience {
  background-color: var(--background);
}

.experience .experienceCardsDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8rem 0;
}

.experience .experienceCard {
  border: 0.1rem solid var(--customBlack);
  position: relative;
  box-shadow: var(--complete-custom-box-shadow);
  display: flex;
}

.experience .experienceCard::before {
  content: '';
  position: absolute;
  height: 4.2rem;
  width: 7rem;
  border-top-left-radius: 4.2rem;
  border-top-right-radius: 4.2rem;
  right: 10%;
  transform: translate(-50%, -98%);
  box-shadow: var(--complete-custom-box-shadow);
}

.experience .experienceCard,
.experienceCard::after {
  border-radius: var(--custom-border-radius);
}

.experience .experienceCard,
.experienceCard::after,
.experienceCard::before {
  background-color: var(--background);
}

.experience .experienceCard::after {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.experience .experienceCard * {
  z-index: 2;
}

.experience .experienceCard .experienceCardIconDiv {
  position: absolute;
  right: 10%;
  transform: translate(-100%, -65%);
}

.experience .experienceCard .experienceCardIconDiv {
  width: 4.7rem;
}

.experience .experienceCard .descriptionDiv {
  width: 100%;
  height: 100%;
  padding: var(--custom-padding);
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

@media (min-width: 768px) {
  .experience .experienceCardsDiv {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .experience .experienceCard {
    width: 45%;
  }
}
